<dd>
<!--  <a ng-click="isOpen = !isOpen" ng-class="{ active: isOpen }"  accordion-transclude="heading">{{heading}}</a>
  <div class="content" ng-class="{ active: isOpen }" ng-transclude></div>
-->
    <a ng-click="isOpen = !isOpen" ng-class="{ active: isOpen }"  accordion-transclude="heading">{{heading}}</a>
    <!-- Customized for LEB :: replaced <div class="content" ng-style="isOpen ? {display: 'block'} : {}" ng-transclude></div> with -->
    <div class="outer-content">
        <div class="content" style="display:block" ng-transclude></div>
    </div>
</dd>
